extends ./_global/page

block head_end
    // parallax.js
    script(src="./libraries/parallax.min.js")

    // fancybox
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css")

    link(rel="stylesheet", href="./css/index.css")

block body_content
    main.wrapper.mt-70px
        section.o-h.d-relative
            .container
                .h-100px
                .row
                    .col-12.col-md-5.offset-md-6.col-lg-4.offset-lg-7
                        .d-flex.flex-column.justify-content-center.align-items-center
                            .f-sm.text-light.text-shadow
                                | 家庭理財/週轉得好靠山
                                - + companyTitle
                            .f-xl.text-light.text-shadow
                                | 華一財富有限公司
                            .mt-3.mb-3
                                img(src="./images/index-text-bubble.png")
                .h-100px
            .parallax(style="background-image: url(./images/index-bg-family.png)")
        section
            .container
                .d-flex.flex-column.align-items-center.justify-content-center
                    .h-50px
                    .mb-2.d-relative
                        img(src="./images/index-text-subtitle.png", width="300px", height="auto")
                        div(style="position: absolute; left: -200px; bottom: -50px")
                            img(src="./images/index-paint-phone.png")
                        div(style="position: absolute; right: -200px; bottom: -50px")
                            img(src="./images/index-paint-car.png")
                    .f-xl.f-blue
                        | 量身定做的全方位保險
                    .f-sm.f-blue
                        | 保險特別方案，保險特別方案，保險特別方案，
                        br
                        | 保險特別方案，保險特別方案，保險特別方案。
                    .main-button.f-sm.mt-4
                        | 專人免費諮詢
                    .row.mt-4
                        .col-12.col-md-8.offset-md-2.col-lg-6.offset-lg-3
                            img(src="./images/index-image-sky.png")
            .parallax
        section.o-h.d-relative
            .container
                .h-100px
                .row
                    .col-12.col-md-4.offset-md-4.col-lg-4.offset-lg-6
                        .d-flex.flex-column.justify-content-center.align-items-center
                            .f-sm.text-light.text-shadow
                                | 家庭理財/週轉得好靠山
                                - + companyTitle
                            .f-xl.text-light.text-shadow
                                | 華一財富
                                span.f-green
                                    | 信用借貸
                            .mt-3.mb-3.rounded.bg-white.f-grey.px-3.py-2
                                | 文字測試
                .h-100px
            .parallax(style="background-image: url(./images/index-bg-family.png)")
        section
            .container
                .d-flex.flex-column.align-items-center.justify-content-center
                    .h-50px
                    .mb-2.d-relative
                        div(style="position: absolute; left: -200px; bottom: -50px")
                            img(src="./images/index-paint-puzzle.png")
                        div(style="position: absolute; right: -250px; bottom: -80px")
                            img(src="./images/index-paint-family.png")
                    .f-xs.f-blue
                        | MAJOR SERVICE
                    .f-xl.f-blue
                        | 主要服務項目
                    .main-button.f-sm.mt-4
                        | 專人免費諮詢
                    .row.mt-4
                        .col-12.col-md-8.offset-md-2.col-lg-6.offset-lg-3
                            img(src="./images/index-image-sky.png")
            .parallax