footer.footer-bar
    .copyright.f-2xs.f-grey(style="margin-left: 150px")
        | Copyright © 2018  網頁由 華一有限公司 版權所有
    .studio-logo.f-2xs.f-grey
        | DESIGN BY
        img(src="./images/studio-logo.png" width="100" height="auto")
