header#HB.header_bar.d-flex.align-items-center.justify-content-center
    a.brand.px-3(href="./index.html")
        img#HBDI(src="./images/logo_green.svg", alt="", width="150", height="auto")
    .navs
        a.nav.f-sm.f-green.px-3.hover_style_dot.hover_style_bigger(href="portfolio.html")
            | 成功案例
        a.nav.f-sm.f-green.px-3.hover_style_dot.hover_style_bigger(href="product.html")
            | 輕鬆擁有
        a.nav.f-sm.f-green.px-3.hover_style_dot.hover_style_bigger(href="mailto:cs@solutionmappings.com")
            | 聯絡我們