header#HB.header_bar.d-flex.align-items-center.justify-content-center
    a.brand.f-blue.px-3(href="./index.html")
        | 華一財富LOGO
    .navs.align-items-center
        a.nav.f-sm.f-blue.px-3.hover_style_dot.hover_style_bigger(href="portfolio.html")
            | 成功案例
        a.nav.f-sm.f-blue.px-3.hover_style_dot.hover_style_bigger(href="product.html")
            | 輕鬆擁有
        a.nav.f-sm.f-blue.px-3.hover_style_dot.hover_style_bigger(href="mailto:cs@solutionmappings.com")
            | 聯絡我們
        a.nav.f-md
            i.f-blue.fab.fa-line
        a.nav.f-md
            i.f-blue.fab.fa-facebook