header#HB.header_bar.d-flex.align-items-center.justify-content-center
    a.brand.f-blue.px-3(href="./index.html")
        img(src="./images/logo.png", width="120", height="auto")
    .navs.align-items-center
        a.nav.f-sm.f-blue.px-3.hover_style_dot.hover_style_bigger.font-weight-bold(href="./about.html")
            | 認識信枻
        a.nav.f-sm.f-blue.px-3.hover_style_dot.hover_style_bigger.font-weight-bold(href="./credit.html")
            | 信用借貸
        a.nav.f-sm.f-blue.px-3.hover_style_dot.hover_style_bigger.font-weight-bold(href="./insurance.html")
            | 保險/儲蓄
        //- a.nav.f-md.mx-1
        //-     i.f-blue.fab.fa-line
        a.nav.f-md.mx-1(href="https://www.facebook.com/%E4%B8%96%E5%86%A0%E9%A1%A7%E5%95%8F%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8-374696289961340")
            i.f-blue.fab.fa-facebook